@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.products-content {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.products-header {
    width: 100%;
    height: 85px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-header .products-header__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #1c1c24;
}

.products-header .products-header__filter {
    display: flex;
}

.products-header__filter .sorting {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.products-header__filter .sorting .sorting-form {
    display: flex;
}

.products-header__filter .sorting .sorting-form .sorting-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.products-header__filter .sorting .sorting-form .orderby {
    border: none !important;
    background-color: transparent !important;
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 8px;
}

.products-header__filter .viewing {
    display: flex;
    align-items: center;
}

.products-header__filter .viewing h6 {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.products-header__filter .viewing .shop-viewing-nav {
    list-style-type: none;
    display: flex;
}

.products-header__filter .viewing .shop-viewing-nav .nav-item:first-child {
    margin-right: 10px;
}

.products-header__filter .viewing .shop-viewing-nav .nav-item:first-child a {
    color: #0063d1 !important; 
}

.products-header__filter .viewing .shop-viewing-nav .nav-item a {
    color: #c3c3c3;
}

// Cards List
.products-list {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.products-content .products-list .product-card {
    width: 285px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product-card .product-card-container {
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.products-list .product-card .product-card__item {
    padding: 10px;
    border: 1px solid #efefef;
}

.product-card .product-card__item img {
    width: 100%;
    margin-top: 10px;
}

.product-card .product-card__item .product-options {
    list-style-type: none;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #f1f1f1;
    margin-bottom: 15px;
}

.product-card .product-card__item .product-options a {
    color: #333333;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product-card .product-card__item .product-options a:hover {
    background-color: #62ab00;
    color: #ffffff;
    transition: .5s;
}

.product-card .product-card__item .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.product-card .product-card__item .product-content .product-content__title {
    color: #0063d1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 5px;
}

.product-card .product-card__item .product-content .product-content__price {
    color: #83b735;
    font-size: 16.8px;
    font-weight: 500;
    line-height: 1.5;
}

.product-card .product-card__desc {
    display: none;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #565454;    
}

.product-card .product-card__desc p {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Card Hovering

.products-list .product-card .product-card-container:hover {
    box-shadow: 2px 11px 20px 0 rgba(144,144,144,.2);
}
.products-list .product-card .product-card-container:hover .product-card__item {
    border: none;
}

.products-list .product-card .product-card-container:hover .product-img {
    opacity: .8;
}

.products-list .product-card .product-card-container:hover .product-card__item + .product-card__desc {
    display: block;
    // float: left;
}

.products-list .product-card .product-card-container:hover .product-options {
    display: flex;
}

.products-list .product-card .product-card-container:hover > .product-content {
    margin-top: 0;
}

// Pagination
.products-pagination {
    padding-top: 30px;
}

.products-pagination > .page-numbers {
    list-style-type: none;
    display: flex;
    justify-content: center;
} 

.products-pagination > .page-numbers li {
    margin-right: 8px;
    display: flex;
    font-size: 14px;
    color: #7c7c7c;
    border: 1px solid #f1f1f1;
}

.products-pagination > .page-numbers > li > .page-numbers {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
} 

.products-pagination > .page-numbers > li > .current,
.products-pagination > .page-numbers li:hover a {
    transition: .25s;
    color: #ffffff;
    background-color: #0063d1;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .products-content {
        width: 930px;
    }

    .products-list {
        width: 100%;
        // margin-left: 15px;
    }
}

@media (max-width: 740px) {
    .products-content {
        width: 510px;
    }

    .products-list {
        width: 100%;
        flex-direction: column;
    }
}